<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://dubbo.apache.org/schema/dubbo 
	http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

	<dubbo:application name="mall-cart-web" />

	<dubbo:reference id="cartService" check="false"
		interface="com.xuxx.mall.cart.service.CartService" />
	<dubbo:reference id="addressService" check="false"
		interface="com.xuxx.mall.user.service.AddressService" />
	<dubbo:reference id="orderService" check="false"
		interface="com.xuxx.mall.order.service.OrderService" />
	<dubbo:reference id="weixinPayService" check="false"
		interface="com.xuxx.mall.pay.service.WeixinPayService" />
</beans>
