<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://dubbo.apache.org/schema/dubbo 
	http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

	<dubbo:application name="mall-manager-web" />
	<dubbo:registry address="zookeeper://192.168.1.107:2181" />

	<dubbo:reference id="brandService" check="false"
		interface="com.xuxx.mall.sellergoods.service.BrandService" />
	<dubbo:reference id="goodsService" check="false"
		interface="com.xuxx.mall.sellergoods.service.GoodsService" />
	<dubbo:reference id="sellerService" check="false"
		interface="com.xuxx.mall.sellergoods.service.SellerService" />
	<dubbo:reference id="specificationService" check="false"
		interface="com.xuxx.mall.sellergoods.service.SpecificationService" />
	<dubbo:reference id="typeTemplateService" check="false"
		interface="com.xuxx.mall.sellergoods.service.TypeTemplateService" />

	<dubbo:reference id="itemCatService" check="false"
		interface="com.xuxx.mall.sellergoods.service.ItemCatService" />

	<dubbo:reference id="contentService" check="false"
		interface="com.xuxx.mall.content.service.ContentService" />
	<dubbo:reference id="contentCategoryService" check="false"
		interface="com.xuxx.mall.content.service.ContentCategoryService" />
</beans>
